<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of products; let i = index">
          <td>{{ p.name }}</td>
          <td>{{ p.price }}</td>
          <td>
            <button
              class="btn btn-primary"
              (click)="editPrice(i)"
              data-toggle="modal"
              data-target="#myModal"
            >
              Edit
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="modal fade" id="myModal" role="dialog" *ngIf="editable">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Price</h4>
            <button type="button" class="close" data-dismiss="modal">
              &times;
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="hname">Name</label>
                <input
                  type="text"
                  name="hname"
                  id="hname"
                  [(ngModel)]="products[index].name"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="price">Price</label>
                <input
                  type="text"
                  [(ngModel)]="products[index].price"
                  name="price"
                  id="price"
                  class="form-control"
                />
              </div>
  
              <input
                type="button"
                class="btn btn-primary"
                (click)="EditPriceAmount(products[index].price)"
                value="Ok"
              />
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  