<div class="container">
    <div class="col-md-6 offset-md-3">
      <input type="text" [(ngModel)]="todaysDate" id="date" readonly/>
      <table className="col-8">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let others of product;let i=index">
            <td>{{ others.name }}</td>
            <td>{{ others.price }}</td>
            <td><input type="text" [(ngModel)]="others.quantity" name="qty" maxlength="10" size="10" (keyup)="onKeyup($event,i)" />
            <p *ngIf="errorStatus">{{error[i]}}</p>
          </tr>
        </tbody>
        
      </table>
      
      
      
      <input
        [disabled]="errorStatus"
        type="button"
        class="btn btn-success"
        name="submitIndent"
        (click)="submitIndent()"
        value="Result"
      />
    </div>
    
    
  </div>
  