<div class="container">
    <div class="col-md-6 offset-md-3">
      <input type="text" [(ngModel)]="todaysDate" id="date" readonly/>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let heg of product;let i=index">
            <td>{{ heg.name }}</td>
            <td><input type="text" [(ngModel)]="heg.quantity" name="qty" maxlength="10" size="10" />
            <p *ngIf="errorStatus">{{error[i]}}</p>
          </tr>
        </tbody>
      </table>
      <input
        [disabled]="errorStatus"
        type="button"
        class="btn btn-success"
        name="submitIndent"
        (click)="submitIndent()"
        value="Result"
      />
    </div>
   
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-primary" role="alert" *ngIf="flag">
          Total Amount is:{{ result }}
        </div>
      </div>
    </div>
  </div>
  