<div class="container finalc" >
    <div class="col-md-6 offset-md-3">
      <input type="text" [(ngModel)]="todaysDate" id="date" readonly/>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let f of data;let i=index">
            <td>{{ f.name }}</td>
            <td>{{f.price}}</td>
            <td>{{f.quantity}}</td>
            <td>{{f.amount}}</td>
          </tr>
        </tbody>
      </table>
     
    </div>
   
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="alert alert-primary" role="alert">
          Total Amount is:{{ result }}
        </div>
      </div>
    </div>
  </div>
  